<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
>
    <!--  COOKIE LOGIN   -->
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.CookieLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ProfileServlet</display-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.CookieProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.CookieLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>



    <!--  HIDDEN INPUT  -->
    <servlet>
        <servlet-name>h1</servlet-name>
        <servlet-class>com.example.ee_lab4.HiddenFirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>h1</servlet-name>
        <url-pattern>/hidden1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>h2</servlet-name>
        <servlet-class>com.example.ee_lab4.HiddenSecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>h2</servlet-name>
        <url-pattern>/hidden2</url-pattern>
    </servlet-mapping>



    <!--  URL REWRITING  -->
    <servlet>
        <servlet-name>url1</servlet-name>
        <servlet-class>com.example.ee_lab4.URLFirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url1</servlet-name>
        <url-pattern>/url1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>url2</servlet-name>
        <servlet-class>com.example.ee_lab4.URLSecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url2</servlet-name>
        <url-pattern>/url2</url-pattern>
    </servlet-mapping>



    <!--  SESSION LOGIN  -->
    <servlet>
        <display-name>SessionLoginServlet</display-name>
        <servlet-name>SessionLoginServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.SessionLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionLoginServlet</servlet-name>
        <url-pattern>/SessionLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SessionProfileServlet</display-name>
        <servlet-name>SessionProfileServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.SessionProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionProfileServlet</servlet-name>
        <url-pattern>/SessionProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SessionLogoutServlet</display-name>
        <servlet-name>SessionLogoutServlet</servlet-name>
        <servlet-class>com.example.ee_lab4.SessionLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionLogoutServlet</servlet-name>
        <url-pattern>/SessionLogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
